@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //页面布局设置
    //添加起始页后，在起始页中设置默认布局 _ViewStart.cshtml
    //Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;//对于个别不需要使用统一布局页的界面，如登录界面、注册界面，我们可以通过在页面头部添加以下代码，禁止使用布局页面
}

<h1>Hello,Asp.Net Core Mvc</h1>
